<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-with, initial-scale = 1.0">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	
	

	<title>Gráficas</title>
</head>
<body>
	<div class="container">
		<h1>CryptoView</h1>
		<hr>
	<div class="row">

 	<div class="col">
 		<h2>Gráfica Bitcoin</h2>
 		<hr>
 		<div id="graficaBitcoin"></div>
 		<button type="button" class="btn btn-success">Success</button>
 	</div>
 	<div class="col">
 		<h2>Gráfica Ethereum</h2> 
 		<hr>
 		<div id="graficaEthereum"></div>
 		<button type="button" class="btn btn-success">Success</button>
 	</div>
 	<div class="col">
 		<h2>Gráfica Ripple</h2> 
 		<hr>
 		<div id="graficaRipple"></div>
 		<button type="button" class="btn btn-success">Success</button>
 	</div>
 	</div>
 	<div class="row">
  	<div class="col">
  		<h2>Gráfica Bitcoin Cash</h2>
  		<hr>
  		<div id="graficaBitcoinCash"></div> 
  		<button type="button" class="btn btn-success">Success</button>
  	</div>
  	<div class="col">
  		<h2>Gráfica EOS</h2> 
  		<hr>
  		<div id="graficaEos"></div>
  		<button type="button" class="btn btn-success">Success</button>
  	</div>
  	<div class="col">
  		<h2>Gráfica Litecoin</h2> 
  		<hr>
  		<div id="graficaLitecoin"></div>
  		<button type="button" class="btn btn-success">Success</button>
  	</div>
	</div>
	</div>

	<script type="text/javascript" src="{{url_for('static', filename='js/lineas.js') }}"></script>
</body>
</html>